---
services:
  grafana:
    image: docker.io/grafana/grafana-oss:12.3.1
    container_name: grafana-dev-2-vm-1
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - grafana

networks:
  grafana:
    name: grafana
    driver: bridge
    attachable: true
    
volumes:
  grafana-data:
    driver: local

    