---
services:
  grafana:
    image: docker.io/grafana/grafana-oss:12.1.1
    container_name: grafana-dev-1-vm-1
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - monitoring

networks:
  monitoring:
    name: monitoring
    driver: bridge
    attachable: true
    
volumes:
  grafana-data:
    driver: local

    